body {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 7vh;
}

main {
  flex-grow: 1;
}

footer {
  height: 7vh;
}

.mainBG {
  background-image: url(https://i.pinimg.com/originals/f6/c4/51/f6c4516c11809f1b3550e0c68abfef89.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.gameOverCard {
  max-height: 100vh;
}